<div class="container">

  <br>

  <div class="row">
    <div class="col-xs-12">
      <app-english [vokabel]="vokabeln[this.index]" [toggle]="englishToggle"></app-english>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-xs-12">
      <app-deutsch [vokabel]="vokabeln[this.index]" [toggle]="germanToggle"></app-deutsch>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-primary" (click)="toggleGerman()">Deutsch</button>
      <button class="btn btn-primary" (click)="toggleEnglish()">Englisch</button>
      <button class="btn btn-primary" (click)="nextVokabel()">Next</button>
    </div>
  </div>



</div>
